<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="{{ url_for('password_recovery') }}" method="post">-->
<!--                <div class="msg">{{ msg }}</div>-->
<!--                    <input id="username" name="username" type="textbox" placeholder="Enter your username" class="textbox"/></br></br>-->
<!--                    <input id="email" name="email" type="textbox" placeholder="Enter your email address" class="textbox"/></br></br>-->
<!--                    <input type="submit" class="btn" value="Send"></br></br>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Password_recovery</title>
<!--<link href="../templates/static/css/log.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}" type="text/css">
</head>

<body>
	<div id="logIn">
		<div class="main">
			<div class="title">
				<div>
{#					Picture Upload and Transformation#}
				</div>
				<!--<div style="background-image: url(../templates/static/img/log_cl.png);">-->
				<div  style="background-image: url({{ url_for('static', filename='log_cl.png') }})" >
				</div>
				<div>
					Password Recovery
				</div>
			</div>
			<div class="form">
                <body>
                <form action="{{ url_for('password_recovery') }}" method="post">
                <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="textbox" placeholder="Enter your username" class="textbox"/></br></br>
                    <input id="email" name="email" type="textbox" placeholder="Enter your email address" class="textbox"/></br></br>
                    <input type="submit" class="btn" value="Send"></br></br>
                </form>
                </body>
			</div>
		</div>
	</div>
</body>
</html>

