<!DOCTYPE HTML>
<html>
	<head>
		<title>Image Preview</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
	<!--	<link rel="stylesheet" href="/templates/static/css/main.css" />-->
	<!--	<noscript><link rel="stylesheet" href="/templates/static/css/noscript.css" /></noscript>-->
	<!--</head>-->
	<!--<body class="is-preload">-->
	<!--		<div id="wrapper"><div>-->


    <!--<div style="text-align:left;">-->
    <!--</form>-->
    <!--<a href="{{url_for('user_image_form', msg=' ')}}" class="button">Back to Photo Gallery</a><br>-->
    <!--</form>-->
    <!--<p></p>-->
    <!--<form>-->
    <!-- <a href="{{url_for('logout') }}" class="button" onsubmit='return confirm("Are you log out?")'>Log Out</a>-->
    <!--</form>-->
    <!--</div>-->

<div style="text-align:center;">
  <head>
    <title>Image</title>
  </head>
    <h1>Image Preview</h1>
    <!--width="500px" height="500px"-->
    <img src= "{{url}}" width="50%" height="50%">
</html>
